@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Nunito&family=Sora&display=swap');
body{
    font-family: 'Arvo', serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Sora', sans-serif;
}
.package-offers{
    list-style: none;
}
.package-choose-plan-button{
    border-radius: 20px;
    color: rgba(73, 73, 223, 0.911);
    background-color: rgba(255, 211, 211, 0.404);
}
.package-card{
    background-image: linear-gradient(rgb(247, 247, 247),white);
}
.fa-check-circle{
    color: rgba(0, 0, 255, 0.671);
}