@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Nunito&family=Sora&display=swap');
body{
    font-family: 'Arvo', serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Sora', sans-serif;
}
/* .carousel-item img{
    height: 586px;
} */
/* body {
    max-width: 100%;
    overflow-x: hidden; 
  } */