@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Nunito&family=Sora&display=swap');
body{
    font-family: 'Arvo', serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Sora', sans-serif;
}

.catering-description-background{
    background-color: #93AA84;
}
/* package section styles  */
.package-offers{
    list-style: none;
}
.package-choose-plan-button{
    border-radius: 20px;
    color: rgba(75, 75, 243, 0.993);
    background-color: rgba(240, 208, 208, 0.432);
}
.package-card{
    background-image: linear-gradient(rgb(247, 247, 247),white);
}
.fa-check-circle{
    color: rgba(0, 0, 255, 0.562);
}
.exclusive-package-card{
    background-image: radial-gradient(#5791e7,#4d8ef0);
    color: white;
    border-radius: 25px;
    height: 110%;
}
/* FAQ styles  */
.accordion-body{
    color: #7E848C;
}
/* footer styles  */
.fa-apple,.fa-google-play{
    font-size: 40px;
}
.footer-background{
    background-color: #0B0D17;
}
.app-button{
    border-radius: 10px;
}
/* toast  */
.fa-robot{
    font-size: 30px;
}
.toast-item{
    border: 5px solid;
    border-color: rgba(6, 6, 54, 0.753);
    border-top: 0px;
border-right: 0px;
border-bottom: 0px;
background-color: rgb(14, 0, 92);
}